/*
#1 color = deepskyblue;
#2 color = #3fbbc0;
*/

a:hover,
a:focus {
    color: deepskyblue;
}

.circled {
    background: deepskyblue;
}

.con1>div,
.con2>div,
.con3>div {
    background-color: deepskyblue;
}

.scrollup:hover {
    background: deepskyblue;
}


/* service */

.service-icon span {
    color: deepskyblue;
}


/* button */

.btn-skin {
    /* background-color: deepskyblue;
    border-color: deepskyblue; */
    background-color: deepskyblue;
    border-color: deepskyblue;
}


/* top */

.top-area {
    /* background: #3fbbc0; */
    background: deepskyblue;
}


/* menu */

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    color: #3fbbc0;
}

.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,
.navbar-custom.top-nav-collapse .nav li.active a {
    color: #3fbbc0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: deepskyblue;
}

.bg-skin {
    background: deepskyblue;
}

.highlight-color {
    background-color: deepskyblue;
}

.color {
    color: rgb(0, 106, 141);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}


/* pricing box  */

.pricing-content.featured h2,
.pricing-content.featured .price-bottom {
    background-color: #3fbbc0;
}

.pricing-content.featured h3 {
    background: #4ACCD1;
}


/* team */

.cbp-l-grid-team-name {
    color: #3fbbc0;
}

.cbp-l-filters-button .cbp-filter-counter {
    background-color: deepskyblue;
}

.cbp-l-filters-alignLeft .cbp-filter-item-active {
    /* @editable properties */
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
}

.cbp-l-filters-dropdownWrap {
    background: deepskyblue;
}

.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    /* @editable properties */
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight {
    /* @editable properties */
    background-color: deepskyblue;
}

.cbp-l-caption-buttonLeft:hover,
.cbp-l-caption-buttonRight:hover {
    /* @editable properties */
    background-color: #3fbbc0;
}

.form-control:focus {
    border-color: #3fbbc0;
}